# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.qUsage.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../:\Projects\qUsage\qUsage\.idea\.idea.qUsage\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
